html
    head
    title= "Real time conversion console"
    
    body
        #content(style='width: 90%; height: 70%; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll;')
        .controls
            input#field.cfield(style='width:350px;')
            input#send.csend(type='button', value='send')
            
    script(src='/javascripts/chat.js')
    script(src='/socket.io/socket.io.js')